fastapi
uvicorn[standard]
langchain
langchain-community      
faiss-cpu
requests                  
python-dotenv             
openai                    
sentence-transformers     
pandas                    